#player,#player a{ color:#282828; }
#player{ background:url(http://i1102.photobucket.com/albums/g445/BeyondBirthday1313BB/sizerAndVol2.png); background-position:bottom; }
#player .mainImage{ background:url(http://i1102.photobucket.com/albums/g445/BeyondBirthday1313BB/main2.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #play{ background:url(http://i1102.photobucket.com/albums/g445/BeyondBirthday1313BB/playBtn2.png); }
#player #play,#player #pause{ left:32px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:95px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:122px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#282828; }
#player #seekerBuffered{ background-color:#9f5d25; }
#player #seekerSliderBase{ background-color:#282828; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:11px; background:url(http://i1102.photobucket.com/albums/g445/BeyondBirthday1313BB/sizerAndVol2.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#282828; color:#282828; }
#playlist h3{ background:url(http://i1102.photobucket.com/albums/g445/BeyondBirthday1313BB/bar2.png);  }
#playlist .even{background-color:#ffad60;}
#playlist .odd{ background-color:#9f5d25;}
#playlist .focus{ background-color:#f87c18; color:#ffad60;}
